/* --- Local Fonts (Variable) --- */

/* Inter */
@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

/* Space Grotesk */
@font-face {
    font-family: 'Space Grotesk';
    src: url('/static/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 300 700;
    font-display: swap;
    font-style: normal;
}

/* JetBrains Mono */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/static/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
}
